*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

html {
	overflow-x: hidden;
}

:root{
	--bg-color: #dfe2e8;
	--second-bg-color: #202020;
	--text-color: #3a3a40;
	--second-color: #3a3a40;
	--main-color: #2596be;
	--big-font: 3rem;
	--h2-font: 2rem;
	--p-font: 1rem;
	--bg-color1: white;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	
}

/* scrolling navbar */
.navbar-scrolled {
	top: 0;
  }
  
  .navbar-hidden {
	top: -100px; 
  }
  
/* Loader */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.three-body {
	--uib-size: 55px;
	--uib-speed: 0.8s;
	--uib-color: #2596be;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--uib-size);
	width: var(--uib-size);
  }
  
  .three-body__dot {
	position: absolute;
	height: 100%;
	width: 30%;
  }
  
  .three-body__dot:after {
	content: '';
	position: absolute;
	height: 0%;
	width: 100%;
	padding-bottom: 100%;
	background-color: var(--uib-color);
	border-radius: 50%;
  }
  
  .three-body__dot:nth-child(1) {
	bottom: 5%;
	left: 0;
	transform: rotate(60deg);
	transform-origin: 50% 85%;
  }
  
  .three-body__dot:nth-child(1)::after {
	bottom: 0;
	left: 0;
	animation: wobble1 var(--uib-speed) infinite ease-in-out;
	animation-delay: calc(var(--uib-speed) * -0.3);
  }
  
  .three-body__dot:nth-child(2) {
	bottom: 5%;
	right: 0;
	transform: rotate(-60deg);
	transform-origin: 50% 85%;
  }
  
  .three-body__dot:nth-child(2)::after {
	bottom: 0;
	left: 0;
	animation: wobble1 var(--uib-speed) infinite
	  calc(var(--uib-speed) * -0.15) ease-in-out;
  }
  
  .three-body__dot:nth-child(3) {
	bottom: -5%;
	left: 0;
	transform: translateX(116.666%);
  }
  
  .three-body__dot:nth-child(3)::after {
	top: 0;
	left: 0;
	animation: wobble2 var(--uib-speed) infinite ease-in-out;
  }
  
  @keyframes wobble1 {
   0%,
	100% {
	transform: translateY(0%) scale(1);
	opacity: 1;
   }
  
   50% {
	transform: translateY(-66%) scale(0.65);
	opacity: 0.8;
   }
  }
  
  @keyframes wobble2 {
   0%,
	100% {
	transform: translateY(0%) scale(1);
	opacity: 1;
   }
  
   50% {
	transform: translateY(66%) scale(0.65);
	opacity: 0.8;
   }
  }
  

header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	
}

/* Style for the toggle button */
.toggle-button {
  width: 30px;
  height: 30px;
  background-color: #dfe2e8; /* Default background color */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.svg {
	width: 30px;
	height: 30px;
	fill: white;
}

/* Nav */
.logo{
	color: var(--text-color);
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
}

.menu-icon {
	display: none;
	cursor: pointer;
	
}

.bx-menu {
	color: black;
	font-size: 2rem;
}

span{
	color: var(--main-color);
}

.navlist{
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navlist a{
	color: var(--second-color);
	font-size: 16px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}

.navlist li {
	margin-right: 10px;
  }
  
.navlist li:last-child {
	margin-right: 0;
  }

.navlist a:hover{
	color: var(--main-color);
}

.navlist a.active{
	color: var(--main-color);
}

section {
  padding: 180px 13% 180px; /* Top, Right, Bottom, Left */
}

.home{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.bg img {
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.2s;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-5px); 
	}
	20%, 40%, 60%, 80% {
		transform: translateX(5px); 
	}
}


.bg:hover img {
	animation: shake 0.8s ease 1;
}

.slide{
	margin-bottom: 20px;
}

.one{
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 13px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: var(--main-color);
	color: var(--text-color);
}

.two{
	display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
}

.home-text h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	list-style: 1.1;
	margin: 0 0 8px;
}


.home-text h3{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
}

.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.5;
	margin-bottom: 20px;
}	


.btn{
	display: flex;
	
}

.btn i{
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: #ebebeb;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .15s ease;
}

.btn i:hover{
	transform: scale(1.1) translateY(5px);
}

header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

/* About section*/

.about h2 {
	font-size: 36px;
	margin: 0;
	background: var(--text-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 15px;
}

.about-text h4 {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-text {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

/* Styling for Education section */
.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	border-left: 1px solid var(--text-color); 
	position: relative; 
	padding-left: 20px; 
}

.education::before,
.education::after {
	content: ''; 
	position: absolute;
	left: 0;
	top: calc(19%); 
	transform: translate(-50%, -50%);
	width: 10px; 
	height: 10px;
	background-color: var(--text-color);
	border-radius: 50%; 
}

.education::after {
	top: calc(50%); 
}

.education h2 {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin-left: 2rem;
}

.education h4 {
	margin-left: 2rem;
}

.education-item p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-left: 2rem;
}

.education .education-item p:last-child {
	margin-bottom: 2rem; 
}

.education a {
	margin-left: 2rem; 
}

.education-item1 {
	margin-bottom: 2rem;
}

.education-item1 p{
	margin-left: 2rem;
}

/* Media query for larger screens */
@media (min-width: 768px) {
	.about-content {
		flex-direction: row;
		justify-content: space-between;
	}

	.about-text {
		width: 50%;
		margin-right: 20px;
	}

	.education {
		width: 50%;
		align-items: flex-start; 
		margin-top: 0; 
	}
}
@media (max-width: 767px) {
	.education {
		align-items: center; 
		padding-left: 0; 
		border-left: none; 
	}
	
	.education::before,
	.education::after {
		top: calc(20%);
		
	}
	
	.education::after {
		top: calc(52%);
		
	}
}
@media (max-width: 767px) {
	.education {
		align-items: center; 
		padding-left: 0; 
		border-left: 1px solid; 
	}

	
	.education a{
		margin-right: 8rem;
	}
	.education h2{
		margin-right: 8rem;
	}
	.education-item1 p{
		margin-left: 1rem;
	}
	.education-item1{
		margin-bottom: 2rem;
	}
	.education-item1 h4{
		margin-left: 1rem;
	}
}
.main-text{
	text-align: center;
}

.main-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.main-text h2{
	font-size: 36px;
	margin: 0;
	background: var(--text-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}


/* Experience */
.services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
	align-items: flex-start;
	gap: 2.5rem;
	margin-top: 3rem;
}

.skills{
	font-size: 80px;
	color: var(--text-colors);
	text-align: center; 
  	margin: auto;
  }




.s-icons i{
	font-size: 32px;
	margin-bottom: 20px;
}

.box h3{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 15px;
}

.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}


/* Contact */
.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.contact-text h4{
	color: var(--text-color);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}

.contact-text h2{
	font-size: 36px;
	margin: 0;
	background: var(--text-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}

.contact-icons i{
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: #ebebeb;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	
}

.contact-form form{
	position: relative;
}

.contact-form form input, form textarea{
	width: 100%;
	padding: 8px;
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.contact-form textarea{
	resize: none;
	height: 240px;
}

.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: #dfe2e8;
	width: 160px;
	transition: all .45s ease;
}

.contact-form .submit:hover{
	background-color: #2980b9;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    gap: 2rem;
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;
}

.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 20px;
	color: var(--text-color);
	background: var(--main-color);
	display: none;
}

.input-form {
    background-color: var(--bg-color1);
}


/* gallery */

/* Base styles for the gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the gallery */
    padding: 0 20px; /* Add padding to the sides */
    justify-content: center; /* Center the columns horizontally */
	
}

.gallery-item img {
    width: 100%;
    height: 300px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Responsive adjustments */


@media (max-width: 990px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky {
        padding: 10px 2.5%;
        transition: .1s;
    }
    section {
        padding: 110px 7% 60px;
    }
    .end {
        padding: 15px 3%;
    }
	
}

@media (max-width: 990px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
	
}

.row {
	display: flex;
	flex-wrap: wrap;
  }
  
  .col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
	
  }
  
  /* Box design  */

  .project {
	padding: 80px 40px;
	text-align: center;
	
  }
  
  .project .main-text {
	margin-bottom: 40px;
	
  }
  
  .project .main-text h2 {
	font-size: 36px;
	margin: 0;
	padding: 10px;
	background: linear-gradient(90deg, #6ab04c, #42a5f5);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	
  }
  
  .project-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .project-image {
	flex: 1;
	text-align: right;
	margin-left: 2rem;
	margin-top: 3rem;
  }
  
  
  
  .project-description {
	padding: 40px;
	text-align: left;
	margin-top: 3rem;
	margin-left: 1rem;
  }
  
  .project-description h3 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .project-description p {
	font-size: 14px;
	line-height: 1.6;
  }
  

  .btn1 {
	  display: inline-block;
	  margin-top: 2rem;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #fff;
      background-color: #3498db;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none; /* Remove underline for anchor links */
  }

  /* Hover effect */
  .btn1:hover {
	background-color: #2980b9;
  }





/* Experience section */
.services-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 0 0 calc(50% - 20px);
  margin-bottom: 30px;
}

.s-icons {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 1rem;
}



@media (max-width: 428px) {
	#services{
		margin-top: 30%;
	}
	#about {
		margin-top: 30%;
	}
	#contact {
		margin-top: 30%;
	}
	
	.bg{
		display: none !important;
	}
	

}

@media (max-width: 768px) {

	header {
	  padding: 12px 5%;
	}
  
	header.sticky {
	  padding: 10px 5%;
	}
  
	.home-text h1 {
	  font-size: 2rem;
	}
  
	.home-text h3 {
	  font-size: 1.5rem;
	}
  
	.btn i {
	  font-size: 28px;
	  height: 45px;
	  width: 45px;
	}
  
	.about {
	  grid-template-columns: 1fr;
	  gap: 30px;
	}
  
	
	.about-text {
	  text-align: left;
	  margin-top: 30px;
	}
  
	.about-text h2 {
	  font-size: 2rem;
	}
  
	.about-text h4 {
	  font-size: 1.5rem;
	}
  
	.about-text p {
	  font-size: 1rem;
	}
  
	.services-content {
	  flex-direction: column;
	}

	
	.column {
	  flex: 1;
	  max-width: 100%;
	  margin-bottom: 20px;
	}
  
	.s-icons {
	  font-size: 32px;
	}
  
  
	.project-content {
	  flex-direction: column;
	  text-align: left;
	}
  
	.project-image {
	  text-align: center;
	  margin: 0 auto;
	}
  
	.project-description {
	  text-align: left;
	  margin-left: 0;
	  margin-top: 2rem;
	}
  }
  


@media (max-width: 768px) {
	.contact {
	  grid-template-columns: 1fr; 
	  gap: 30px;
	  
	}
	.bg{
		display: none !important;
	}


  
	.contact-text {
	  text-align: left;
	  margin-top: 30px;
	}
  
	.contact-text h2 {
	  font-size: 2rem;
	}
  
	.contact-text h4 {
	  font-size: 1.5rem;
	}
  
	.contact-text p {
	  font-size: 1rem;
	}
  
	.contact-form input,
	.contact-form textarea {
	  font-size: 14px;
	}
  
	.btn1 {
	  font-size: 14px;
	  padding: 8px 16px;
	}
  }
  


@media (max-width: 768px) {
	.project {
	  padding: 60px 20px; 
	}
	.bg{
		display: none !important;
	}
	
	.row {
	  flex-direction: column;
	}
  
	.col-md-6 {
	  max-width: 100%;
	  margin-bottom: 30px;
	}
  
	.project-image {
	  text-align: center;
	}
  
	
  
	.project-description {
	  text-align: left;
	  margin-top: 2rem;
	  padding: 2px;
	}
  
	.project-description h3 {
	  font-size: 24px;
	  margin-bottom: 10px;
	}
  
	.project-description p {
	  font-size: 14px;
	  line-height: 1.6;
	}
  
	.btn1 {
	  display: inline-block;
	  margin-top: 2rem;
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  font-size: 16px;
	  color: #fff;
	  background-color: #3498db;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	  text-decoration: none; 
	}
  

	.btn1:hover {
	  background-color: #2980b9;
	}
  }
  

  @media (max-width: 1024px) {
    .bg{
		display: none !important;
	}
	.navlist{
		display: none !important;
	}

    .home-text h1 {
      font-size: 2rem;
      padding-top: 15px;
    }

    .home-text h3 {
      font-size: 1.2rem;
      padding-top: 5px;
    }

    .about-text h2 {
      font-size: 1.8rem;
    }

    .about-text h4 {
      font-size: 1.2rem;
    }

    .about-text p {
      font-size: 1rem;
    }

    .project-description h3 {
      font-size: 1.8rem;
    }

    .project-description p {
      font-size: 1rem;
      line-height: 1.4;
    }

    .btn1 {
      font-size: 14px;
      padding: 8px 16px;
    }

    .contact-text h2 {
      font-size: 1.8rem;
    }

    .contact-text h4 {
      font-size: 1.2rem;
    }

    .contact-text p {
      font-size: 1rem;
    }

    .contact-form input,
    .contact-form textarea {
      font-size: 14px;
    }

    .btn1 {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 768px) {

    header {
      padding: 12px 5%;
    }

    header.sticky {
      padding: 10px 5%;
    }

    .home-text h1 {
      font-size: 1.8rem;
      padding-top: 10px;
    }

    .home-text h3 {
      font-size: 1.2rem;
      padding-top: 5px;
    }

    .about-text h2 {
      font-size: 1.5rem;
    }

    .about-text h4 {
      font-size: 1.2rem;
    }

    .about-text p {
      font-size: 1rem;
    }

    .services-content {
      flex-direction: column;
    }

    .column {
      flex: 1;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .s-icons {
      font-size: 28px;
    }

    .project {
      padding: 40px 20px;
    }

    .project-description h3 {
      font-size: 1.6rem;
    }

    .project-description p {
      font-size: 1rem;
      line-height: 1.6;
    }

    .btn1 {
      font-size: 14px;
      padding: 8px 16px;
    }

    .contact {
      grid-template-columns: 1fr;
      gap: 30px;
    }

   

    .contact-text h2 {
      font-size: 1.5rem;
    }

    .contact-text h4 {
      font-size: 1.2rem;
    }

    .contact-text p {
      font-size: 1rem;
    }

    .contact-form input,
    .contact-form textarea {
      font-size: 14px;
    }

    .btn1 {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

 
@media (min-width: 769px) {
	.main-content {
	  margin: 0 20px; 
	}
	
}


@media (min-width: 769px) and (max-width: 1024px) {
	.main-content {
	  margin: 0 10px; 
	}
}


@media (max-width: 768px) {
	.main-content {
	  margin: 0 10px; 
	}
}


@media (max-width: 576px) {
	.main-content {
	  margin: 0 5px; 
	}
}



.project-image img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	max-width: 540px; 
  }
  
  @media (max-width: 1024px) {
	.project-image img {
	  max-width: 400px; 
	}
  }
  

  @media (max-width: 768px) {
	.project-image img {
	  max-width: 500px; 
	}
  }
  
  
  @media (max-width: 576px) {
	.project-image img {
	  max-width: 600px; 
	}
  }
  
  @media screen and (max-width: 768px) {
	
	
	.menu-icon {
	  display: block;
	}
  
	.navlist {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 70px;
	  left: 0;
	  width: 100%;
	  background-color: #dfe2e8;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
  
	.navlist.show {
	  display: flex;

	}
  
	.navlist li {
	  margin: 10px;
	}
  }

  